In [ ]:
import pandas as pd
import numpy as np

In [ ]:
# https://drive.google.com/file/d/11S0SeO_lUyIZa8PP-AKuDLQ7Cm_jslNY/view?usp=sharing
!gdown --id 11S0SeO_lUyIZa8PP-AKuDLQ7Cm_jslNY

/usr/local/lib/python3.7/dist-packages/gdown/cli.py:131: FutureWarning: Option `--id` was deprecated in version 4.3.1 and will be removed in 5.0. You don't need to pass it anymore to use a file ID.
  category=FutureWarning,
Downloading...
From: https://drive.google.com/uc?id=11S0SeO_lUyIZa8PP-AKuDLQ7Cm_jslNY
To: /content/UpdatedResumeDataSet.csv
100% 3.11M/3.11M [00:00<00:00, 72.8MB/s]

In [ ]:
df_data = pd.read_csv('/content/UpdatedResumeDataSet.csv')
df_data

         Category                                             Resume
0    Data Science  Skills * Programming Languages: Python (pandas...
1    Data Science  Education Details \r\nMay 2013 to May 2017 B.E...
2    Data Science  Areas of Interest Deep Learning, Control Syste...
3    Data Science  Skills â¢ R â¢ Python â¢ SAP HANA â¢ Table...
4    Data Science  Education Details \r\n MCA   YMCAUST,  Faridab...
..            ...                                                ...
957       Testing  Computer Skills: â¢ Proficient in MS office (...
958       Testing  â Willingness to accept the challenges. â ...
959       Testing  PERSONAL SKILLS â¢ Quick learner, â¢ Eagerne...
960       Testing  COMPUTER SKILLS & SOFTWARE KNOWLEDGE MS-Power ...
961       Testing  Skill Set OS Windows XP/7/8/8.1/10 Database MY...

[962 rows x 2 columns]

In [ ]:

df_data.replace(to_replace=[r"\\t|\\n|\\r", "\t|\n|\r"], value=["",""], regex=True, inplace=True)

In [ ]:
df_data.to_csv('update1.csv')